body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: normal;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 a {
    color: inherit;
}

thead tr,
#site {
    background-color: rgba(0, 0, 0, .1);
    text-align: left;
}

tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, .05);
}

th,
td,
#site {
    padding: .3em .4em;
}

th:last-child,
td:last-child {
    text-align: right;
}

img {
    margin-right: .3em;
    vertical-align: middle;
}

li {
    margin-bottom: .2em;
}

hr {
    border: .125em solid rgba(0, 0, 0, .1);
}

.main {
    margin: 0 auto 10em;
    max-width: 70em;
    width: 100%;
}

.hidden {
    display: none;
}

#site a,
#site span {
    font-weight: bold;
}
